* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'lucida';
    src: url(font/lucida-bright-regular.ttf);
}

body {
    width: 100%;
    background-color: black;
    
}

.garis {
    width: 80%;
    height: 0.1px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    animation-name: garis;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
    align-items: center;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0px 20px;
}

nav ul li {
    margin: 0px 13px;
}

nav ul li a {
    color: rgb(208, 208, 208);
    font-weight: 700;
    transition: 0.5s;
}

nav ul p a {
    color: rgb(208, 208, 208);
    font-weight: 100;
    transition: 0.5s;
}



nav img {
    width: 70px;
    margin: 20px;
    transition: 1s;
}

nav ul p :hover {
    color: black;
    text-decoration: underline;
}

nav ul li :hover {
    color: black;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .kotak {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    margin: 20px;
}

header .kotak-kanan {
    width: 300px;
    display: flex;

    flex-direction: column;
    color: white;
}

.kotak-kanan h1 {
    font-size: 15px;
    color: rgb(108, 255, 108);
    font-family: 'lucida';
}

.kotak-kanan h2 {
    margin: 10px 0px;
    font-size: 30px;
}


.tbl {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.tbl .button {
    padding: 8px 30px;
    font-size: 12px;
    border-radius: 6px;
    background-color: rgb(2, 190, 2);
    color: #ffffff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.tbl img {
    transition: 1s;
    width: 85%;
}

.kotak-kiri{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kotak-kiri img {
    width: 300px;
}

.kotak-kiri .isi{
    display: flex;
    overflow: hidden;
    width: 300px;
    border: 1px solid white;
    
}

.kotak-kiri .slide{
    display: flex;
    transition: 2s;
}

#slide-1:target ~ .slide{
    margin-left: 0%;
}
#slide-2:target ~ .slide{
    margin-left: -100%;
}
#slide-3:target ~ .slide{
    margin-left: -200%;
}

main {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    color: white;

}

main p {
    color: white;
    margin-bottom: 50px;
}

main .kotak2 {
    background-color: rgb(34, 34, 34);
    width: 80%;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 45px 0px;
    flex-wrap: wrap;
}


.kotak2 img {
    transition: 0.5s;
}

.colsatu img {
    width: 170px;
}

.colsatu img:hover {
    transform: scale(1.1);
    background-color: white;
    border-radius: 12px;
}


main h1::before {
    content: url(image/twitch.svg);
}

.kotak2 .isi {
    display: flex;
}

.coldua {
    position: relative;
    width: 50%;
    margin: 0px 12px;
}

.coldua img {
    display: block;
    width: 170px;
    height: auto;
}

.overlay {
    border-radius: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fffcfcfc;
    overflow: hidden;
    width: 170px;
    height: 0;
    transition: .5s ease;
}

.coldua:hover .overlay {
    height: 100%;
}

.text {
    color: black;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.kotak3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
    background-image: url(image/Desain\ tanpa\ judul.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.kotak3 .judul h1::before {
    content: url(image/database.svg);
}

.kotak3 .judul {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-align: center;
}

.kotak3 .isi {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 50px;
}

.kotak3 .isi ul {
    list-style: none;

    width: 45%;
}

.kotak3 .isi ul li {
    background-color: rgb(90, 90, 90);
    margin: 15px;
    border-radius: 12px;
    height: 60px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 67%;
    box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;

}

.img {
    background-image: url(image/awan.gif);
    width: 100%;
    background-repeat: none;
    background-size: cover;
    height: 300px;
}

.kotak4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}

.kotak4 .judul h1 {
    color: white;
}

.kotak4 .galery {
    margin-top: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.kotak4 .galery img {
    width: 400px;
    margin: 9px 12px;
    filter: grayscale(100%);
    transition: 0.4s;
}

.kotak4 .galery img:hover {
    filter: grayscale(0%);
    border-radius: 12px;
}

form{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form h1{
    color: white;
    font-size: 22px;
    margin-left: 22px;
}

form p{
    color: green;
    margin-left: 22px;
    font-size: 9px;
}

form .isi{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    margin-left: 22px;
}


.nama{
    text-align: center;
    width: 200px;
    height: 30px;
    margin-bottom: 12px;
    border-radius: 9px;
}

.pesan{
    width: 300px;
    height: 70px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}

.submit{
    margin: 10px 0px;
}

.submit button{
    padding: 9px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 12px;
}
.submit button:hover{
    background-color: rgb(0, 109, 0);
}

#berhasil{
    display: none;
    margin-top: 12px;
    color: white;
    background-color: rgba(0, 255, 38, 0.197);
    padding: 5px;
    width: 140px;
    font-size: 11px;
    transform: translateX(-15%);
}

#berhasil::before{
    content: url(image/check-circle\ \(2\).svg);
}
#kosong{
    color: white;
    margin-top: 12px;
    display: none;
    background-color: rgba(252, 0, 0, 0.396);
    padding: 5px;
    width: 240px;
    font-size: 11px;
    margin-right: 12px;
    transform: translateX(-9%);
}

#kosong::before{
    content: url(image/x-circle\ \(1\).svg);
}

footer {
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer .judul {
    margin-left: 12px;
}

footer .judul h1 {
    color: #ffffff;
}

footer .judul ul {
    list-style: none;
    margin-top: 12px;
    height: 120px;
    border-bottom: 1px solid white;
}

footer .judul ul li a {
    display: flex;
    align-items: center;
    color: white;
}

footer .isi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .isi .list {
    display: flex;
    margin-top: 20px;
    width: 90%;
    justify-content: space-between;
}

footer .isi h1 {
    color: white;
    margin-right: auto;
    margin-left: 12px;
}

footer .isi .list ul {
    margin: 0px 10px;
}

footer .isi .list ul p {
    color: white;
    list-style: none;
    font-size: 20px;
    margin-bottom: 12px;
}

footer .isi .list ul li a {
    display: flex;
    align-items: center;
    color: white;
    padding: 1px 0px;
    text-decoration: underline;
}





@media (max-width: 650px) {

    nav {
        position: sticky;
        height: 50px;
    }

    nav img {
        width: 40px;
    }





    .content .list p a:hover {
        color: black;
        text-decoration: underline;
    }


    nav ul li,
    nav ul p a {
        display: none;
    }

    header {
        height: 450px;
        ;
    }

    header .kotak {
        width: 94%;
    }

    .kotak-kanan h1 {
        font-size: 7px;
    }

    .kotak-kanan p {
        font-size: 10px;
    }

    header .kotak-kanan {
        width: 170px;
        margin-right: 12px;
    }

    .kotak-kanan h2 {
        font-size: 15px;
        font-family: 'lucida';  }

    .kotak-kiri img {
        width: 150px;
    }
    
    .kotak-kiri .isi{
        width: 150px;
        border-radius: 12px;
    }

    .navigation{
        transform: translateY(-22px);
    }

    .navigation a{
        display: inline-block;
        background-color: rgb(155, 155, 155);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: 0px 1px;
        transition: 0.5s;
    }

    .navigation a:hover{
        background-color: rgb(62, 62, 62);
    }

    .tbl {
        width: 170px;
    }

    .tbl .button {
        padding: 7px;
    }

    .garis {
        position: absolute;
        top: 450px;
    }

    /* KOTAK2 */

    main {
        height: 600px;
        font-family: 'lucidA';
    }

    main .kotak2 {
        width: 90%;
    }

    main h1{
        font-size: 29px;
    }

    .colsatu img {
        width: 90px;
    }

    .coldua {
        position: relative;
        width: 50%;
        margin: 0px 12px;
    }



    .coldua img {
        display: block;
        width: 90px;
        height: auto;
    }

    .overlay {
        border-radius: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fffcfcfc;
        overflow: hidden;
        width: 90px;
        height: 0;
        transition: .5s ease;
    }

    .coldua:hover .overlay {
        height: 100%;
    }

    .text {
        color: black;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /* Kotak3 */

    .kotak3 .judul {
        width: 90%;
        position: relative;
    }

    .kotak3 .judul h1 {
        font-size: 30px;
    }

    .kotak3 .judul p {
        font-size: 10px;
    }

    .kotak3 .isi {
        top: 70px;
    }

    .project{
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .project p{
        color: white
    }

    .project h1{
        color: white
    }

    .hilang{
        display: none;
    }

    .project .bg{
        position: absolute;
        z-index: -1;
        background-color: green;
        width: 300px;
        height: 32px;
        animation-duration: 3s;
        animation-name: bg;
        animation-iteration-count: infinite;
    }



    .kotak4 .galery img {
        width: 156px;
    }

    footer .judul h1 {
        color: #ffffff;
        font-size: 20px;
    }


    footer .judul ul li a {
        font-size: 12px;
    }

    footer .isi {
        margin-top: 12px;
    }


    footer .isi h1 {
        color: white;
        font-size: 21px;
    }

    footer .isi .list ul {
        margin: 0px 10px;
    }

    footer .isi .list ul p {
        font-size: 15px;
    }

    footer .isi .list ul li a {
        font-size: 12px;
    }

    footer .judul ul {
        height: 100px;
    }



}




/* shorcut Class */

.slide-right {
    animation-name: slideRight;
    animation-duration: 2.6s;
    animation-timing-function: ease;
}

@keyframes slideRight {
    from {
        margin-left: 100%;
        opacity: 0%;
    }

    to {
        margin-left: 0%;
    }
}
.slide-left {
    position: relative;
    animation-name: slideLeft;
    animation-duration: 2.6s;
    animation-timing-function: ease;
}

@keyframes slideLeft {
    from {
        margin-right: 100%;
        opacity: 0%;
    }

    to {
        margin-right: 0%;
    }
}

.gantiWarna:hover {
    color: green;
}

.zoomIn {
    transition: 0.4s;
}

.zoomIn:hover {
    transform: scale(1.1);
}

.youtube::after {
    content: url(image/youtube.svg);
    position: relative;
    left: 10px;
}

.facebook::before {
    content: url(image/facebook2.svg);
    position: relative;
    right: 10px;
    top: 2px;
}

.tiktok::before {
    content: url(image/youtube.svg);
    position: relative;
    right: 10px;
    top: 2px;
}

.github::after {
    content: url(image/github.svg);
    position: relative;
    left: 10px;
}

.instagram::before {
    content: url(image/instagram2.svg);
    position: relative;
    right: 10px;
    top: 2px;
}

@keyframes garis {
    0% {
        width: 0px;
    }

    50% {
        width: 80%;
    }

    100% {
        width: 0px;
    }
}

@keyframes menu {
    0% {
        right: -90px;
        overflow: hidden;
    }
}

@keyframes bg{
    0%{
        width: 10px;
        transform: translateX(150px) translateY(4px);
    }

    50%{
        width: 10px;
        transform: translateX(-150px) translateY(4px) rotate(0deg);
        border-radius: 0%;
    }

    75%{
        width: 40px;
        transform: translateX(0px) translateY(4px) rotate(360deg);
    }

    100%{
        width: 10px;
        transform: translateX(140px) translateY(4px);
    }
}